name: test-suite
on: [push, pull_request]
jobs:
  test-master:
    name: pytest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: asr-stat

    - uses: actions/checkout@v2
      with:
        repository: asreview/asreview
        path: asr-core
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64' # (x64 or x86)
    - name: Install packages and run tests  
      run: |
        pip install pytest
        pip install --upgrade setuptools>=41.0.0
        cd asr-core
        git fetch --depth=1 origin +refs/tags/*:refs/tags/*
        pip install .
        cd ..
        pip install ./asr-stat
        pytest asr-stat/tests
     
  #test-older:
    #name: pytest
    #runs-on: ubuntu-latest
    #strategy:
      #matrix:
        #asr_versions: []
    #steps:
    #- uses: actions/checkout@v2
    #- uses: actions/setup-python@v1
      #with:
        #python-version: '3.6' # Version range or exact version of a Python version to use, using semvers version range syntax.
        #architecture: 'x64' # (x64 or x86)
    #- name: Install packages and run tests
      #run: |
        #pip install pytest
        #pip install setuptools>=41.0.0
        #pip install asreview==${{ matrix.asr_versions }}
        #pip install .
        #pytest tests
